<h1>User#show</h1>
<%= render 'shared/user_home' %>


<p><%= link_to 'Sign out', signout_path, method: "delete" %></p>
<p><%= link_to 'Create new event', new_event_path %></p>
<p><%= link_to 'All Event Listings', events_path %></p>
<p>Find me in app/views/user/show.html.erb</p>
